.ant-layout-sider-children .logo {
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
  background-image: url('../public/logo3.png');
  background-size: contain;
  background-repeat: no-repeat;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.site-layout .site-header-background {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.side-menu-ic {
  display: flex;
  justify-content: space-around;
  min-width: 100px;
}